# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# copied from /.git/info/exclude/ (maybe not necessary?)
# via http://stackoverflow.com/questions/5383609/using-git-with-an-existing-xcode-project

.DS_Store
xcuserdata/

# C++ gitignore basic stuff
#via https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
